<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/baza-style.css}"/>
    <script type="text/javascript" th:src="@{/scripts/baza-script.js}"></script>
    <script src="/static/scripts/baza-script.js"></script>
    <title>Ewidencja 8000 - ULTIMATE</title>
</head>
<body>
<div class="navigationBar">
    <h3 class="header1">Ewidencja UML 8000 ULTIMATE</h3>

    <div class="adminButtons">
        <form th:action="@{/adminpanel/add}" method="get">
            <button type="submit" class="addButton">Dodaj Użytkownika</button>
        </form>

<!--        <form th:action="@{/baza/add}" method="get">-->
<!--            <button type="submit" class="addButton">Dodaj nowy sprzęt</button>-->
<!--        </form>-->

        <form action="baza" method="get">
            <input type="submit" value="Baza sprzętu" class="addButton" />
        </form>


    </div>


    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton" style="float:right;">Wyloguj się</button>
    </form>

    <form action="adminpanel" method="get">
        <input type="submit" value="Admin Enabled" class="adminButton" style="float:right;">
    </form>
</div>

<h2 class="header2">Lista userow</h2>
<div class="usersDisplay" style="display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
align-content: flex-start;">
    <div th:each="user : ${users}" class="usersCard">
        <p class="user-username" th:text="${user.username}">User: </p>
        <form method="post" th:action="@{adminpanel/delete}">
            <input type="hidden" th:name="id" th:value="${user.id}" />
            <!--            <input type="submit" value="Usuń"  />-->
            <button class="deleteButton">USUN</button>
        </form>
    </div>
</div>
</body>
</html>