<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
</div>
<div class="itemFormContainer">
    <form method="post" th:object="${item}" class="itemForm">
        <input type="text" placeholder="Marka" class="input-field" th:field="*{brand}" id="brandInput" oninput="this.value = this.value.toUpperCase()" required>
        <input type="text" placeholder="Model" class="input-field" th:field="*{model}" id="modelInput" oninput="this.value = this.value.toUpperCase()" required>
        <input type="text" placeholder="Numer Seryjny" class="input-field" th:field="*{serial}" id="serialInput" oninput="this.value = this.value.toUpperCase()" required>
        <input type="text" placeholder="Skad?" class="input-field" th:field="*{origin}" id="originInput" oninput="this.value = this.value.toUpperCase()" required>
        <input type="text" placeholder="Gdzie teraz" class="input-field" th:field="*{current}" id="currentInput" oninput="this.value = this.value.toUpperCase()" required>
        <input type="text" placeholder="Kto Odpowiedzialny?" class="input-field" th:field="*{responsible}" oninput="this.value = this.value.toUpperCase()" id="responsibleInput" required>
        <input type="text" placeholder="zdjecie(opcjonalnie)" class="input-field" th:field="*{imageURL}" id="imageInput">
        <input type="submit" value="Dodaj" class="addButton">
    </form>
</div>
</body>
</html>