<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>

<style>
    html{
    height: 100%;
    color: white;
    }
    body
    {
    background-color: rgba(33, 33, 33, 1);
    background-image: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(57, 57, 57, 1) 50%, rgba(0, 0, 0, 1) 100%);
height: 100%;
    }
</style>

<body>
<div th:if="${errorMessage}" th:text="${errorMessage}" class="msg"></div>
<div th:if="${logoutMessage}" th:text="${logoutMessage}" class="msg"></div>
<div th:if="${message}" th:text="${message}" class="msg"></div>
<h1 class="loginHeader">Logowanie</h1>

<form th:action="@{/login}" method="post" class="loginPanel">
    <div>
        <!--        <label for="username">Nazwa użytkownika:</label>-->
        <input type="text" class="loginInput" id="username" name="username" placeholder="username" required/>
    </div>
    <div>
        <!--        <label for="password">Hasło:</label>-->
        <input type="password" class="loginInput" id="password" name="password" placeholder="password" required />
    </div>
    <div>
        <button type="submit" class="loginButton">Zaloguj się</button>
    </div>
    <div>
        <button onclick="location.href='/register'" type="button" class="registerButton">Zarejestruj sie</button>
    </div>
</form>
</body>
</html>