<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/baza-style.css}"/>
    <script type="text/javascript" th:src="@{/scripts/baza-script.js}"></script>
    <script src="/static/scripts/baza-script.js"></script>
    <title>Ewidencja 8000 - ULTIMATE</title>
</head>
<body>
<div class="navigationBar">
    <h3 class="header1">Ewidencja UML 8000 ULTIMATE</h3>

    <form th:action="@{/baza/add}" method="get">
        <button type="submit" class="addButton">Dodaj nowy sprzet</button>
    </form>

    <form method="get" th:action="@{/baza/search}" >
        <input name="keyword" placeholder="Szukaj" size="50" th:value="${keyword}" type="text" class="searchInput">
        <button type="submit" class="searchButton">Search</button>
    </form>

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Sortuj</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit" style="float: right; margin: 25px 10px 0px 10px;">Wyloguj się</button>
    </form>
    <a sec:authorize="hasAuthority('ADMIN')" class="adminButton" href="/adminpanel">Admin Panel</a>
</div>

<div class="itemFormContainer">
    <form method="post" th:object="${item}" class="itemForm">
        <input type="text" placeholder="Skad?" class="input-field" th:field="*{origin}" id="originInput" oninput="this.value = this.value.toUpperCase()" required>
        <input type="text" placeholder="Gdzie teraz" class="input-field" th:field="*{current}" id="currentInput" oninput="this.value = this.value.toUpperCase()" required>
        <input type="text" placeholder="Kto Odpowiedzialny?" class="input-field" th:field="*{responsible}" oninput="this.value = this.value.toUpperCase()" id="responsibleInput">
<!--        <input type="number" placeholder="ilosc" class="input-field" th:field="*{quantity}" id="quantityInput" required>-->
        <input type="hidden" th:field="*{brand}" th:value="${item.brand}" />
        <input type="hidden" th:field="*{model}" th:value="${item.model}" />
        <input type="hidden" th:field="*{serial}" th:value="${item.serial}" />
        <input type="hidden" th:field="*{imageURL}" th:value="${item.imageURL}" />
        <input type="submit" value="Dodaj" class="addButton">
    </form>
</div>
</body>
</html>