<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <link rel="stylesheet" th:href="@{styles/baza-style.css}"/>
    <script type="text/javascript" th:src="@{/scripts/baza-script.js}"></script>
    <script src="/static/scripts/baza-script.js"></script>
    <title>Ewidencja 8000 - ULTIMATE</title>

</head>
<body>
<div class="navigationBar">
    <h3 class="header1">Ewidencja UML 8000 ULTIMATE</h3>

    <form th:action="@{/adminpanel}" method="get">
        <button type="submit" class="addButton">Powrót</button>
    </form>


    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logoutButton">Wyloguj się</button>
    </form>
</div>

<div class="userForm">
    <form method="post" th:object="${user}" class="registerForm">
        <input type="text" placeholder="login" class="input-field" th:field="*{username}" id="username" required>
        <input type="password" placeholder="password" class="input-field" th:field="*{password}" id="password" required>
        <input type="submit" value="Dodaj" class="addButton">
    </form>
</div>
</body>
</html>