body
{
   background-color: rgba(0, 0, 0, 1);
   background-image: linear-gradient(116deg, rgba(0, 0, 0, 1) 0%, rgba(86, 17, 92, 1) 89%, rgba(86, 17, 92, 1) 87%);
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-shadow: 1px 1px 17px rgba(0, 0, 0, 1);
   font-family: monospace;
   height: 100%;
   margin-top: 70px;
   padding: 0px;
   color: white;
}

.loginPanel{
    border: solid 1px #ffffff66;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    padding: 10px;
    background-color: #0000001d;
    margin:auto;
    -webkit-box-shadow: 0px 0px 68px 9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 68px 9px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 68px 9px rgba(0, 0, 0, 1);
    font-family: monospace;
    width: 260px;
}
.loginDiv{
   display : flex;
   justify-content: center;
}
.loginHeader{
    display : flex;
    justify-content: center;
    font-family: monospace;
text-shadow: 4px 4px 6px rgba(113, 80, 115, 1);
}
.loginButton{
   transition-duration: 0.4s;
   text-decoration: none;
   border:none;
   background-color: transparent;
   color: white;
   font-size: 15px;
   border: 2px solid #490e4e;
   border-radius: 2px;
   font-family: monospace;
   cursor: pointer;
   margin-bottom: 16px;
}
.loginButton:hover{
   color: white;
   background-color: #490e4e;
}
.passwordInput{

    height:17px;
    font-size:17px;
    background-color: white;
    color:black;
    border: solid 3px #490e4e;
    border-radius:1px;
    font-family: monospace;
    width:90%;
    margin-bottom: 10px;

}
.loginInput{
    height:17px;
    font-size:17px;
    background-color: white;
    color:black;
    border: solid 3px #490e4e;
    border-radius:1px;
    font-family: monospace;
    width:90%;
    margin-bottom: 5px;
}
.msg{
    margin-bottom: 10px;
    text-align: center;

}
